{% extends 'blog/base.html' %}
{% load static gravatar %}
{% block content %}
<div class="row">
  <div class="col s12 m12">
    <div class="card">
        <div class="card-content">
          <h2 style="text-align: center;"><a class="change" href="{% url 'blog:passage' passage.id %}">{{ passage }}</a></h2>
        </div>
        <div class="card-image">
          <img src="{% static passage.pic_url %}">
        </div>
        <li class="divider"></li>
        <div class="card-action">
            <span style=" font-size: 20px;">{{ passage.text|safe }}</span>
        </div>

    </div>
  </div>
</div>



<ul>
  {% for comment in comments %}
  <li>
    <div class="row">
      <div class="col s12 m12">
        <div class="card hoverable">
        	<ul>
            <li class="grey lighten-4"><div class="card-action">
              <div class="gravatar"><img class="circle" src="{{ comment.email|gravatar_url:128 }}" style="float: left;" width="50px" height="50px">
          	  <div class="profile">
          	    <p style="font-family: Merienda-Regular">{{ comment.name }}</p>
			    <p style="font-family: Lobster-Regular">{{ comment.date_added }}</p>
			  </div>
            </div>
         	</div>
         	</li>
         	<li class="divider"></li>
         	<li>
            <div class="card-content">
              <span style="font-size: 20px">{{ comment }}</span>>
            </div></li>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
  <div class="card cyan lighten-5">
  	<br>
  	<h6 style="text-align: center;"><i class="material-icons">mode_edit</i>欢迎留言</h6>
  	<br>
  </div>

    <form action="{% url 'blog:passage' passage.id %}" method="post" class="col s12">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <label for="first_name">Name</label>
          {{ form.name }}
        </div>
        <div class="input-field col s6">
          <label for="last_name">Email</label>
          {{ form.email }}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {{ form.text }}
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">提交
    	  <i class="material-icons right">send</i>
  		</button>
    </form>
{% endblock content %}